@font-face {
	font-family: "Roboto";
	src: url("/fonts/Roboto-Light.ttf");
}

html {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/* CSS media query */
@media ( min-width : 700px ) {
	p {
		text-align: justify;
	}
}